<section class="section">
  <header>
    <h2 class='section-title'>Awards</h2>
  </header>
  <section id="awards">

    {{#each awards}}

    <section class="award-item">
      <input id="award-item-0" type="checkbox" class="toggle-item" checked="checked" />
      <label for="award-item-0"></label>
      <header>
        <div class="header-left">
          <div class="title">
           {{title}}
          </div>
          <div class="awarder">
            {{awarder}}
          </div>
        </div>
        <div class="date">
          {{date}}
        </div>
      </header>
      <div class="item">
        <div class="summary">
          <p>
            <p>{{summary}}.</p>
          </p>
        </div>
      </div>
    </section>

    {{/each}}

  </section>
</section>