<section class="section">
      <header>
        <h2 class='section-title'>Awards</h2>
      </header>
      <section id="awards">
        <section class="award-item">
            <input id="award-item-0" type="checkbox" class="toggle-item" checked="checked" />
            <label for="award-item-0"></label>
    
          <header>
            <div class="header-left">
              <div class="title">
                Digital Compression Pioneer Award
              </div>
              <div class="awarder">
                Techcrunch
              </div>
            </div>
            <div class="date">
              2014
            </div>
          </header>
          
          <div class="item">
            <div class="summary">
              <p><p>There is no spoon.</p></p>
            </div>
          </div>
        </section>
      </section>
    </section>