    	<header id="header" class="clear">
    		<div>
    			<h1 class="name">Yunus Emre Keskin </h1>
    			<h2 class="label">Tech Lead, Senior Software Engineer</h2>
    		</div>
    		
    		<span class="location">
    			<span class="address">2712 Broadway St,</span> 
    			<span class="postalCode">CA 94115,</span> 
    			<span class="city">San Francisco,</span> 
    			<span class="region">California</span> 
    			<span class="countryCode">US</span> 
    		</span>
    		
    
    		<div id="contact">
    			<div class="website">
    				<span class="fa fa-external-link"></span>
    				<a target="_blank" target="_blank" href="http://yemrekeskin.com">yemrekeskin.com</a>
    			</div>
    			<div class="email">
    				<span class="fa fa-envelope-o"></span>
    				<a href="mailto:yemrekeskin@gmail.com">yemrekeskin@gmail.com</a>
    			</div>
    			<div class="phone">
    				<span class="fa fa-mobile"></span>
    				<a href="tel:(543) 506-3818">(543) 506-3818</a>
    			</div>
    		</div>
    
    		<div id="profiles">
    			<div class="item">
    				<div class="username">
    					<span class="fa fa-twitter twitter social"></span>
    					<span>neutralthoughts</span>
    				</div>
    			</div>
    			<div class="item">
    				<div class="username">
    					<span class="fa fa-soundcloud soundcloud social"></span>
    					<span class="url">
    						<a target="_blank" href="https://soundcloud.com/dandymusicnl">dandymusicnl</a>
    					</span> 
    				</div>
    			</div>
    		</div>
    	</header>
    
    	<section class="section main-summary">
    		<section>
    			<div><p>Richard hails from Tulsa. He has earned degrees from the University of Oklahoma and Stanford. (Go Sooners and Cardinals!) Before starting Pied Piper, he worked for Hooli as a part time software developer. While his work focuses on applied information theory, mostly optimizing lossless compression schema of both the length-limited and adaptive variants, his non-work interests range widely, everything from quantum computing to chaos theory. He could tell you about it, but THAT would NOT be a “length-limited” conversation!</p></div>
    		</section>
    	</section>