<section class="section">
      <header>
        <h2 class='section-title'>Education <span class="item-count">(1)</span></h2>
      </header>
    
      <section id="education">
        <section class="education-item">
          <header>
            <div class="header-left">
              <div class="studyType">
                Bachelor
              </div>
              <div class="area">
                Information Technology
              </div>
              <div class="institution">
                University of Oklahoma
              </div>
            </div>
            <div class="date">
              <span class="startDate">
              2011
              </span>
              <span class="endDate">
              - 2014
              </span>
            </div>
          </header>
    
    
          <ul class="courses">
            <li>DB1101 - Basic SQL</li>
            <li>CS2011 - Java Introduction</li>
          </ul>
    
          <div class="item">
            <div class='gpa'>
              <strong> Grade:</strong> <span>4.0</span>
            </div>
          </div>
        </section>
      </section>
    </section>