<section class="section margin1">
      <header>
        <h2 class='section-title' class='section-title'>Interests</h2>
      </header>
      <section id="interests">

        {{#each interests}}
        <div class="item">
          <h3 class="name">
            {{ name }}
          </h3>
          {{#if keywords.length }}
          <ul class="keywords">
            {{#each keywords }}
              <li> {{.}} </li>
            {{/each}}
          </ul>
          {{/if}}
        </div>
        {{/each}}

      </section>
    </section>