<section class="section margin1">
      <header>
        <h2 class='section-title'>Languages</h2>
      </header>
      <section id="languages">
        <div class="display">
          <h3 class="language">
            English
          </h3>
          <div class="item">
            <div class="level fluency native speaker">
              <em>Native speaker</em>
              <div class="bar"></div>
            </div>
          </div>
        </div>
      </section>
    </section>