<section class="section margin1">
  <header>
    <h2 class='section-title'>Languages</h2>
  </header>
  <section id="languages">

    {{#each languages }}
    <div class="display">
      <h3 class="language">
        {{language}}
      </h3>
      <div class="item">
        <div class="level fluency native speaker">
          <em>{{fluency}}</em>
          <div class="bar"></div>
        </div>
      </div>
    </div>
    {{/each}}


  </section>
</section>