  <section class="section">
      <header>
        <h2 class='section-title'>Publications</h2>
      </header>
      <section id="publications">
        <section class="publication-item">
            <input id="publication-item-0" type="checkbox" class="toggle-item" checked="checked" />
            <label for="publication-item-0"></label>
    
          <header>
            <div class="header-left">
              <span class="name">
              <span class="website">
              <a target="_blank" href="http://en.wikipedia.org/wiki/Silicon_Valley_(TV_series)">Video compression for 3d media</a>
              </span>
              </span>
              <span class="publisher">
              in Hooli
              </span>
            </div>
            <span class="date">
            October 2014
            </span>
          </header>
    
          <div class="item">  
            <div class="summary">
              <p><p>Innovative middle-out compression algorithm that changes the way we store data.</p></p>
            </div>
          </div>
        </section>
      </section>
    </section>