
    <section class="section">
      <header>
        <h2 class='section-title'>References</h2>
      </header>
      <section id="references">
        <div class="item">
          <blockquote class="reference">
            &#8220;&#32;It is my pleasure to recommend Richard, his performance working as a consultant for Main St. Company proved that he will be a valuable addition to any company.&#32;&#8221;
          </blockquote>
          <div class="name">
            Erlich Bachman
          </div>
        </div>
      </section>
    </section>