<section class="section margin1">
    	<header>
    		<h2 class='section-title'>Skills</h2>
    	</header>
    	<section id="skills">
    		<div class="item">
    			<h3 class="name">
    				Web Development
    			</h3>
    			 
    			<div class="level master">
    				<em>Master</em>
    				<div class="bar"></div>
    			</div>
    			<ul class="keywords">
    				<li>HTML</li>
    				<li>CSS</li>
    				<li>Javascript</li>
    			</ul>
    		</div>
    		<div class="item">
    			<h3 class="name">
    				Compression
    			</h3>
    			 
    			<div class="level master">
    				<em>Master</em>
    				<div class="bar"></div>
    			</div>
    			<ul class="keywords">
    				<li>Mpeg</li>
    				<li>MP4</li>
    				<li>GIF</li>
    			</ul>
    		</div>
    	</section>
    </section>
   