<section class="section">
      <header>
        <h2 class='section-title'>Volunteer</h2>
      </header>
      <section id="volunteer">
        <section class="volunteer-item">
    
            <input id="volunteer-item-0" type="checkbox" class="toggle-item" checked="checked" />
            <label for="volunteer-item-0"></label>
    
          <header>
            <div class="header-left">
              <div class="position">
                Teacher
              </div>
              <div class="organization">
                CoderDojo
              </div>
            </div>
            <div class="date">
              <span class="startDate">
              January 2012
              </span>
              <span class="endDate">
              - January 2013
              </span>
            </div>
          </header>
          <div class="website">
            <a target="_blank" href="http://coderdojo.com/">http://coderdojo.com/</a>
          </div>
          <div class="item">
            <div class="summary">
              <p><p>Global movement of free coding clubs for young people.</p></p>
            </div>
            <ul class="highlights">
              <li><p>Awarded 'Teacher of the Month'</p></li>
            </ul>
          </div>
        </section>
      </section>
    </section>
    