 <section class="section">
      <header>
        <h2 class='section-title'>Work Experience <span class="item-count">(1)</span></h2>
      </header>
    
      <section id="work">
        <section class="work-item">
    
            <input id="work-item-0" type="checkbox" class="toggle-item" checked="checked" />
            <label for="work-item-0"></label>
    
    			<header>
    				<div class="position">CEO/President</div>
    				<div class="company">Pied Piper</div>
    				<div class="date">
    				  <span class="startDate">December 2013</span> 
    					<span class="endDate">- December 2014</span> 
    				</div>
    			</header>
    			
        	<span class="website">
        		<a target="_blank" href="http://piedpiper.com">http://piedpiper.com</a>
        	</span>      	<div class="item" id="work-item">
            <div class="summary">
              <p><p>Pied Piper is a multi-platform technology based on a proprietary universal compression algorithm that has consistently fielded high Weisman Scores™ that are not merely competitive, but approach the theoretical limit of lossless compression.</p></p>
            </div>
            <ul class="highlights">
                <li><p>Build an algorithm for artist to detect if their music was violating copy right infringement laws</p></li>
                <li><p>Successfully won Techcrunch Disrupt</p></li>
                <li><p>Optimized an algorithm that holds the current world record for Weisman Scores</p></li>
            </ul>
        	</div>
        </section>
      </section>
    </section>