<!doctype html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="description" content="yemrekeskin">
    <meta name="keywords" content="resume,portfolio">
    <meta name="author" content="Yunus Emre Keskin">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">

    <title>Yunus Emre Keskin</title>
    <link rel="icon" type="image/png" href="../../public/favicon.png">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="../../public/stackoverflow.css">
    
</head>
<body>

{{{body}}}

</body>
</html>