 <div id="resume">

    {{> basic }}
    {{> skills }}
    {{> work }}
    {{> volunteer }}
    {{> education }}
    {{> awards }}
    {{> publications }}
    {{> languages }}
    {{> interests }}
    {{> references }}

 </div>