<!doctype html>
<html lang="en">

<head>

   <meta charset="UTF-8">
   <meta name="description" content="yemrekeskin">
   <meta name="keywords" content="resume,portfolio">
   <meta name="author" content="Yunus Emre Keskin">
   <meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">

   <title>Yunus Emre Keskin</title>
   <link rel="icon" type="image/png" href="../../public/favicon.png">

</head>

<body>

Hello World

</body>

</html>