 <div id="resume">

    {{> basic }}
    {{> skills }}
    {{> work }}
    {{> volunteer }}
    {{> education }}
    {{> awards }}
    {{> publications }}
    {{> languages }}
    {{> interests }}
    {{> references }}

    
   <div style="text-align: center;">
      Made with <span style="color: #e74c3c;">â¤</span> in Istanbul
   </div>

 </div>