<!doctype html>
<html class="min-height-full">

<head>

   <meta charset="UTF-8">
   <meta name="description" content="yemrekeskin">
   <meta name="keywords" content="resume,portfolio">
   <meta name="author" content="Yunus Emre Keskin">
   <meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">

   <title>Yunus Emre Keskin</title>
   <link rel="icon" type="image/png" href="../../assets/favicon.png">
   <link rel="stylesheet" type="text/css" href="../assets/index.css">

</head>

<body class="bg-white min-height-full">
   <div class="container-lg py-6 p-responsive text-center">


      <img src="../assets/avatar.jpg" class="circle mb-3" style="max-width: 150px;">
      <h1 class=" mb-2 lh-condensed">yemrekeskin</h1>
      <p class="mb-3 f4 text-gray">
         Basically C# .NET Core Developer but always looking for new things to improve software development life cycle
         🚀
         Concepts: RTFM, DRY, GTD, TDD, JFGI
      </p>
      {{!-- <p class="mb-3 f4 text-gray">
         I enjoy being challenged and working on new projects. I am always trying to learn new
         skills and development techniques. In particular, I like to experience new cultures and learn
         new languages as part of my career progression.
      </p> --}}

      <div class="f4 mb-6">

         <div class="d-md-inline-block mx-3 mb-1 mb-md-0">
            <svg height="20" class="octicon octicon-mark-github mr-2 v-align-middle" fill="#24292e" aria-label="GitHub"
               viewBox="0 0 16 16" version="1.1" width="20" role="img">
               <path fill-rule="evenodd"
                  d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
            </svg>
            <a href="https://github.com/yemrekeskin">
               @yemrekeskin
            </a>
         </div>


         <div class="d-md-inline-block mx-3 mb-1 mb-md-0">
            <svg height="20" class="octicon octicon-mail mr-2 v-align-middle" fill="#24292e" aria-label="email"
               viewBox="0 0 14 16" version="1.1" width="17" role="img">
               <path fill-rule="evenodd"
                  d="M0 4v8c0 .55.45 1 1 1h12c.55 0 1-.45 1-1V4c0-.55-.45-1-1-1H1c-.55 0-1 .45-1 1zm13 0L7 9 1 4h12zM1 5.5l4 3-4 3v-6zM2 12l3.5-3L7 10.5 8.5 9l3.5 3H2zm11-.5l-4-3 4-3v6z" />
            </svg>
            <a href="mailto:yemrekeskin@gmail.com">
               yemrekeskin@gmail.com
            </a>
         </div>

         <div class="d-md-inline-block mx-3 mb-1 mb-md-0 ">
            <svg height="20" class="octicon octicon-location mr-2 v-align-middle" fill="#24292e" aria-label="Location"
               viewBox="0 0 12 16" version="1.1" width="15" role="img">
               <path fill-rule="evenodd"
                  d="M6 0C2.69 0 0 2.5 0 5.5 0 10.02 6 16 6 16s6-5.98 6-10.5C12 2.5 9.31 0 6 0zm0 14.55C4.14 12.52 1 8.44 1 5.5 1 3.02 3.25 1 6 1c1.34 0 2.61.48 3.56 1.36.92.86 1.44 1.97 1.44 3.14 0 2.94-3.14 7.02-5 9.05zM8 5.5c0 1.11-.89 2-2 2-1.11 0-2-.89-2-2 0-1.11.89-2 2-2 1.11 0 2 .89 2 2z" />
            </svg>
            Istanbul - Turkey
         </div>


         <div class="d-flex flex-wrap flex-items-start flex-justify-center mt-1 mt-md-3">

            <div class="mr-3 mb-3">


               <a href="https://www.linkedin.com/in/yemrekeskin" class="tooltipped tooltipped-se"
                  aria-label="LinkedIn: yemrekeskin">
                  <svg height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 18">
                     <path
                        d="M3.94 2A2 2 0 1 1 2 0a2 2 0 0 1 1.94 2zM4 5.48H0V18h4zm6.32 0H6.34V18h3.94v-6.57c0-3.66 4.77-4 4.77 0V18H19v-7.93c0-6.17-7.06-5.94-8.72-2.91z"
                        fill="#959da5" /></svg><span class="d-none">LinkedIn</span>
               </a>
            </div>

            <div class="mr-3 mb-3">
               <a href="https://stackoverflow.com/users/2742859/yemrekeskin" class="tooltipped tooltipped-se"
                  aria-label="Stack Overflow: 2742859/yemrekeskin">
                  <svg height="24" fill="#959da5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120 120">
                     <path class="st0" d="M84.4 93.8V70.6h7.7v30.9H22.6V70.6h7.7v23.2z" />
                     <path class="st1"
                        d="M38.8 68.4l37.8 7.9 1.6-7.6-37.8-7.9-1.6 7.6zm5-18l35 16.3 3.2-7-35-16.4-3.2 7.1zm9.7-17.2l29.7 24.7 4.9-5.9-29.7-24.7-4.9 5.9zm19.2-18.3l-6.2 4.6 23 31 6.2-4.6-23-31zM38 86h38.6v-7.7H38V86z" />
                  </svg><span class="d-none">Stack Overflow</span>
               </a>
            </div>

            <div class="mr-3 mb-3">
               <a href="https://www.twitter.com/yemrekeskin" class="tooltipped tooltipped-se"
                  aria-label="Twitter: yemrekeskin">
                  <svg height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 273.5 222.3">
                     <path
                        d="M273.5 26.3a109.77 109.77 0 0 1-32.2 8.8 56.07 56.07 0 0 0 24.7-31 113.39 113.39 0 0 1-35.7 13.6 56.1 56.1 0 0 0-97 38.4 54 54 0 0 0 1.5 12.8A159.68 159.68 0 0 1 19.1 10.3a56.12 56.12 0 0 0 17.4 74.9 56.06 56.06 0 0 1-25.4-7v.7a56.11 56.11 0 0 0 45 55 55.65 55.65 0 0 1-14.8 2 62.39 62.39 0 0 1-10.6-1 56.24 56.24 0 0 0 52.4 39 112.87 112.87 0 0 1-69.7 24 119 119 0 0 1-13.4-.8 158.83 158.83 0 0 0 86 25.2c103.2 0 159.6-85.5 159.6-159.6 0-2.4-.1-4.9-.2-7.3a114.25 114.25 0 0 0 28.1-29.1"
                        fill="#959da5" /></svg><span class="d-none">Twitter</span>
               </a>
            </div>

            <div class=" mb-3">
               <a href="/resume" class="tooltipped tooltipped-se" aria-label="cv: yemrekeskin">
                  <svg class="octicon horizontal-rule" viewBox="0 0 14 16" version="1.1" width="20" height="20"
                     aria-hidden="true">
                     <path fill-rule="evenodd"
                        d="M10 5c0-1.11-.89-2-2-2a1.993 1.993 0 0 0-1 3.72v.3c-.02.52-.23.98-.63 1.38-.4.4-.86.61-1.38.63-.83.02-1.48.16-2 .45V4.72a1.993 1.993 0 0 0-1-3.72C.88 1 0 1.89 0 3a2 2 0 0 0 1 1.72v6.56c-.59.35-1 .99-1 1.72 0 1.11.89 2 2 2 1.11 0 2-.89 2-2 0-.53-.2-1-.53-1.36.09-.06.48-.41.59-.47.25-.11.56-.17.94-.17 1.05-.05 1.95-.45 2.75-1.25S8.95 7.77 9 6.73h-.02C9.59 6.37 10 5.73 10 5zM2 1.8c.66 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2C1.35 4.2.8 3.65.8 3c0-.65.55-1.2 1.2-1.2zm0 12.41c-.66 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2zm6-8c-.66 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2z"
                        fill="#959da5" /></svg><span class="d-none">cv</span>
               </a>
            </div>
         </div>


         <span title="Hire me" class="d-inline-block f5 rounded-2 text-white bg-green py-1 px-2">Available for
            hire</span>

      </div>



      <div>

      </div>


</body>

</html>