<!DOCTYPE HTML>
<html>

<head>
    <title> yunus emre keskin </title>

    <link rel="icon" href="../assets/old/favicon.ico" type="image/x-icon" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords"
        content="charp, asp.net, asp.net mvc, software design, software architecture, freelance project, " />

    <link rel="stylesheet" href="../assets/old/assets/css/main.css" />

</head>

<body id="top">

    <!-- Header -->
    <header id="header">
        <a href="http://yemrekeskin.com" class="image avatar"><img src="../assets/old/images/avatar.jpg" alt="" /></a>

        <h1><b>I'm yunus emre </b>, a just developer

            <br />
            passionate about programming

            <br />
            live at <a target="_blank"
                href="https://www.google.com/?gfe_rd=cr&ei=0HjgVpPdB6zY8Af3lby4Cw&gws_rd=ssl,cr&fg=1#q=istanbul%2Cturkey">
                Istanbul,Turkey </a>

            <br />
            work at <a target="_blank" href="http://intertech.com.tr/en/default.aspx">intertech</a>


    </header>

    <!-- Main -->
    <div id="main">

        <!-- One -->
        <section id="one">
            <header class="major">
                <h2> <b> <i class="fa fa-code"></i> MY.BUILD LIFE </b> </h2>
            </header>

            <p>
                Hello,
                I'm yunus emre.
                I'm a back-end developer from <b> Istanbul,Turkey </b>.
                For 3 years,I've been professionally working as software enginneer at intertech.
                I took responsibilities for <b> Denizbank AG </b>,<b> Sberbank AG</b> and <b> ZiraatBank AG </b>
                projects.

                It's great to work with enthusiastic and passionate people.

            </p>

            <p>

                I'm keen on mostly about <b> design patterns </b> , software architectures ,
                <b> object oriented programming </b> and enterprise software development.
                I have wrote posts in <b> <a target="_blank" href="http://blog.yemrekeskin.com"> my blog </a> </b> and
                <b> <a target="_blank" href="http://kodcu.com/author/yemrekeskin/"> kodcu </a> </b> to share my
                experience about these topics.
                You can download pdf version of<b> <a target="_blank" href="http://assets.yemrekeskin.com/Resume.pdf">
                        my resume </a> </b>

            </p>
            <p>

                To become a good <b> software engineer </b> requires a good theoretical background as well as practical
                experiences.
                Therefore I'm trying to improve myself daily.
                New technologies and experiences raises <b> new ideas </b> and
                so we can change our world and environment with these ideas.I believe in that.

            </p>

            <p>
                Every developer only need a <b> coffee </b> <i class="fa fa-coffee"></i>
                You can donate via <a target="_blank" href="https://www.paypal.me/yemrekeskin/10"> paypal </a>
            </p>


            <ul class="actions">
                <li>
                    <a href="#" class="button"> I'm available for freelance work <i class="fa fa-rocket"></i> </a>
                </li>
            </ul>


        </section>

    </div>

    <!-- Footer -->
    <footer id="footer">
        <ul class="icons">

            <li><a target="_blank" href="https://twitter.com/yemrekeskin" class="icon fa-twitter"><span
                        class="label">Twitter</span></a></li>
            <li><a target="_blank" href="https://github.com/yemrekeskin" class="icon fa-github"><span
                        class="label">Github</span></a></li>
            <li><a target="_blank" href="https://tr.linkedin.com/in/yemrekeskin" class="icon fa-linkedin"><span
                        class="label">Linkedin</span></a></li>
            <li><a target="_blank" href="mailto:yemrekeskin@gmail.com" class="icon fa-envelope-o"><span
                        class="label">Email</span></a></li>


        </ul>
        <ul class="copyright">
            <li>2012 - 2016 &copy; yemrekeskin.com</li>
            <li>Designed with <i class="fa fa-heart"></i> by <a target="_blank" href="http://html5up.net">HTML5 UP</a>
            </li>
            <li>Photo by <a target="_blank" href="https://unsplash.com/photos/1yurYePoQVQ">Pablo GarciaSaldaña</a></li>
        </ul>
    </footer>

    <!-- Scripts -->
    <script src="../assets/old/assets/js/jquery.min.js"></script>
    <script src="../assets/old/assets/js/jquery.poptrox.min.js"></script>
    <script src="../assets/old/assets/js/skel.min.js"></script>
    <script src="../assets/old/assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="../assets/old/assets/js/main.js"></script>

</body>

</html>